.quoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  margin-top: 40vh;
  height: 10vh;
  position: relative;
  z-index: 10;
}

.quoteBox {
  background: linear-gradient(
    135deg,
    rgba(255, 223, 186, 0.9),
    rgba(249, 215, 255, 0.9)
  );
  border: 2px solid rgba(204, 204, 255, 0.8);
  border-radius: 15px;
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 6px 15px rgba(139, 92, 246, 0.4),
    0 0 10px rgba(204, 204, 255, 0.6) inset;
  position: relative;
  transition: all 0.5s ease-out;
  font-family: "Papyrus", "Cursive", sans-serif;
}

.quoteBox::before {
  content: "“";
  font-size: 70px;
  color: rgba(204, 204, 255, 0.8);
  position: absolute;
  top: -20px;
  left: 10px;
  font-family: "Georgia", serif;
  opacity: 0.5;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
}

.quoteBox::after {
  content: "”";
  font-size: 70px;
  color: rgba(204, 204, 255, 0.8);
  position: absolute;
  bottom: -20px;
  right: 10px;
  font-family: "Georgia", serif;
  opacity: 0.5;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
}

.quoteText {
  font-size: 1.4rem;
  line-height: 1.8;
  color: #4b0082;
  margin-bottom: 15px;
  font-style: italic;
  padding-left: 20px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}

.quoteAuthor {
  font-size: 1rem;
  color: #5f4b8b;
  text-align: right;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
