.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 500;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
}

.textContainer {
  max-width: 700px;
  position: absolute;
  left: 10%;
  top: 30%;
  transform: translateY(-50%);
  color: white;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  /* margin-bottom: 0.8rem; */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Cinzel", serif;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Cinzel", serif;
  margin-top: 2px;
}

.infoTextContainer {
  margin-top: 30px;
  line-height: 22px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.buttonContainer {
  margin-top: 20px;
  align-items: center;
  margin-right: 40px;
  
}
.buttonContainer button {
  cursor: pointer;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  color: #3e1e04;
  background: linear-gradient(45deg, #f6bd66, #f6bd66, #ffe8ac, #f6bd66);
}
.buttonContainer button:hover {
  color: #3e1e04;
  background: linear-gradient(45deg, #82502c, #b16e38, #ffda7b, #a57335);
}

/* Mobile styles */
@media (max-width: 768px) {
  .textContainer {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    top: 60%;
  }
  

  .buttonContainer {
    margin-top: 20px;
    align-items: center;
    margin-right: 20px;
    
  }

  .buttonContainer button {
  cursor: default;

}

  .title {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .header::before {
    width: 100%;
    height: 70%;
    top: auto;
    bottom: 0;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

@media (max-width: 1168px) {
  .textContainer {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    top: 60%;
  } }
